<div class="container">
	<div class="row">
		<% for(var i = 0; i < chapters.length; i++) { %>
			<div class="col-sm-2 col-xs-6" id="book">
				<a href="/book?id=<%= chapters[i].id %>">
					<img src="http://i.imgur.com/1P4vzie.png" alt="chapter picture">
					<p><%= chapters[i].chapter %></p>
				</a>
			</div>
		<% } %>
	</div>
</div>


<span class="menuBtn"><i class="fa fa-bars fa-4x"></i></span>
<div class="menu">
    <div class="closeMenu">Book Menu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-times"></i></div>
    <ul class="nav">
        <li>
            <p>User Panel<i class="fa fa-caret-left"></i></p>
            <div class="c">
                <ul>
                    <li class="centerV"><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
                    <li class="centerV"><a href="/logout"><i class="fa fa-fw fa-user-times"></i> Logout</a></li>
                    <li class="centerV"><a href="javascript:void(0)" onclick="goBack()"><i class="fa fa-fw fa-chevron-left"></i> Go Back</a></li>
                </ul>
            </div>
        </li>
        <li id="admin">
            <p>Admin Panel<i class="fa fa-cog admin"></i></p>
            <div class="c">
            	<ul>
                    <li id="adminDelete" class="centerV"><a href="javascript:void(0)" class="white" onclick="DELETE(2)"><i class="fa fa-fw fa-trash-o"></i> delete book</a></li>
                    <li class="centerV"><a href="javascript:void(0)" class="white" onclick="ADDBOOK()">&nbsp;<i class="fa fa-plus"></i>&nbsp; add Chapter</a></li>

                    <li class="centerV"><a href="javascript:void(0)" class="white" onclick="showBooksetting()">&nbsp;<i class="fa fa-cog"></i>&nbsp; book settings</a></li>

                    <!--<li class="centerV"><a href="javascript:void(0)" class="white" onclick="showPopup(5)">&nbsp;<i class="fa fa-plus"></i>&nbsp; add front</a></li>
                    <li class="centerV"><a href="javascript:void(0)" class="white" onclick="showPopup(6)">&nbsp;<i class="fa fa-plus"></i>&nbsp; add back</a></li>-->
                </ul>
            </div>
        </li>
    </ul>
</div>

<div id="popup">
    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <button type="button" onclick="hidePop()" class="close" aria-label="Close"><i class="fa fa-times"></i></button>
        <div><!-- errorMenu -->
            <p class="bg-danger"></p>
            <button class="btn btn-danger" onclick="hidePop()">Okay <i class="fa fa-frown-o"></i></button>
        </div>
        <div><!-- deleteMenu -->
            <h3 cass="bg-danger">Delete this book</h3>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" placeholder="Write your password">
                <p class="help-block">We need this for confirmation</p>
            </div>
            <button type="submit" onclick="deleteConfirmation(1)" class="btn btn-default">Confirm</button>
        </div>
        <div><!-- succesMenu -->
            <p class="bg-success"></p>
            <button id="successBTN" class="btn btn-success" onclick="hidePop()">Okay <i class="fa fa-smile-o"></i></button>
        </div>
        <div><!-- addMenu -->
            <h3 cass="bg-danger">Add chapter</h3>
            <div class="form-group">
                <label for="chapterName">Chapter Name</label>
                <input class="form-control" type="text" id="chapterName" placeholder="Name of the chapter">
            </div>
            <div class="form-group">
                <label for="pages">Select Pages</label>
                <input type="file" id="pages" accept="image/*" multiple>
                <p class="help-block">Have the pages in a order for displaying in correct order.</p>
            </div>
            <button type="submit" onclick="uploadChapter()" class="btn btn-default">Confirm</button>
        </div>
        <div id="bookmenu"><!--  -->
            <h3>Front</h3>
            <div style='padding:5px'>
                <div><label for='front-outer'>outer-page <span style='color:red;'></span></label>
                <div class='input-group'>
                    <input type='text' placeholder='' id='front-outer' class='form-control'>

                    <span class='input-group-btn'>
                        <input type='file' accept='image/*' class='inputfile'>
                        <button class='btn btn-primary'>Choose file</button></span>
                    <span class='input-group-btn'>
                        <input type='button' class='btn btn-success' value='upload' onclick='bsUpload($(this), 1)'></span>
                </div></div>
                <div><label for='front-inner'>inner-page <span style='color:red;'></span></label>
                <div class='input-group'>
                    <input type='text' placeholder='' class='form-control' id='front-inner'>

                    <span class='input-group-btn'>
                        <input type='file' accept='image/*' class='inputfile'>
                        <button class='btn btn-primary'>Choose file</button></span>
                    <span class='input-group-btn'>
                        <input type='button' class='btn btn-success' value='upload' onclick='bsUpload($(this), 2)'></span>
                </div></div>
            </div>
            
            <h3>End</h3>
            <div style='padding:5px'>
                <div><label for='end-inner'>inner-page <span style='color:red;'></span></label>
                <div class='input-group'>
                    <input type='text' placeholder='' class='form-control' id='end-inner'>

                    <span class='input-group-btn'>
                        <input type='file' accept='image/*' class='inputfile'>
                        <button class='btn btn-primary'>Choose file</button></span>
                    <span class='input-group-btn'>
                        <input type='button' class='btn btn-success' value='upload' onclick='bsUpload($(this), 4)'></span>
                </div></div>
                <div><label for='end-outer'>outer-page <span style='color:red;'></span></label>
                <div class='input-group'>
                    <input type='text' placeholder='' class='form-control' id='end-outer'>

                    <span class='input-group-btn'>
                        <input type='file' accept='image/*' class='inputfile'>
                        <button class='btn btn-primary'>Choose file</button></span>
                    <span class='input-group-btn'>
                        <input type='button' class='btn btn-success' value='upload' onclick='bsUpload($(this), 3)'></span>
                </div></div>
            </div>
        </div>
    </div>
</div>

<div class="info">
    <img src="http://www.tbaf.org.tw/event/2016safe/imgs/loader1.gif" alt="loading gif">
    <p>Uploading page <span id="current">0</span> of <span id="count"></span></p>
</div>

<script>
    var book = <%- JSON.stringify(book) %>;

	window.onload = function(){
        if(!<%= admin %>){
            if('<%= username %>' == book.creator) {
                $('#admin').show();
                $('#adminDelete').remove();
            } 
            else $('#admin').remove();
        }
        else $('#admin').show();
    }
</script>